.body {
  background-image: url(../assets/img/fondomenospx.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  backdrop-filter: blur(90px);
  
}